<h3>Listado de Tareas</h3>

<div *ngIf="!tareas.length">No hay tareas registradas</div>

<table *ngIf="tareas.length" class="table">
    <thead>
        <tr>
            <th>Id Pokemon</th>
            <th>Nombre del pokemon</th>
            <th>Tamaño</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tarea of tareas"> 
            <td>{{ tarea.id}}</td>
            <td>{{ tarea.nombre }}</td>
            <td>{{ tarea.descripcion }}</td>
            <td>{{ tarea.estado }}</td>
        </tr>
    </tbody>
</table>

<p><strong>Tipos de pokemon</strong></p>
1:Electrico <br>
2:Planta <br>
3:Fuego <br>
4:Agua <br>
5:Dragón: <br>
0:Sin definir <br>