<h3>Alta pokemon</h3>


<div class="col-sm-4">
    <p>
        <label>Nombre del pokemon</label>
        <input type="text" class="form-control" [(ngModel)]="tarea.nombre">
    </p>
    <p>
        <label>Tamaño</label>
        <input type="text" class="form-control" [(ngModel)]="tarea.descripcion">
    </p>
    <p>
        <label>Selecciona el tipo del pokemon:</label>
        <select [(ngModel)]="tarea.estado" class="form-control">
            <option *ngFor="let tipo of tipos" value="{{ tipo.id }}">
                {{ tipo.desc }}
            </option>
        </select>
    </p>
    <p>
        <button type="button" class="btn btn-primary" (click)="insertarTarea()">
            Insertar
        </button>
    </p>
</div>